.cardView{
    /* Add shadows to create the "card" effect */
    width:300px;
    height: 300px;
    padding: 20px;
    background-color: #ba964a;
    margin: 50px;
    display: inline-block;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.title{
	font-family: times, Times New Roman, times-roman, georgia, serif;
 	font-size: 48px;
    line-height: 40px;
    letter-spacing: -1px;
 	color: #444;
    font-weight: 100;
    text-align:center;
    }

.subtitle{
    font-family: times, Times New Roman, times-roman, georgia, serif;
 	font-size: 28px;
 	line-height: 40px;
 	letter-spacing: -1px;
    color: #444;
    text-align: center;

    }

 .link {
    font-family: times, Times New Roman, times-roman, georgia, serif;
 	font-size: 14px;
 	text-transform: uppercase;
 	color: #444;
    text-align:center;
    }
    
.card.red{
	background-color:red;
}