<sly data-sly-use.cardmulti="com.aemTraining2.core.use.CardMultiUse"/>
    <ul  data-sly-list="${cardmulti.valueMapContentList}">

		<sly  data-sly-test.bg="${item.bgColor}">

        <div class="card">
			<div class="container" style= "background-color:${bg @ context='styleString'} ">
                <div class="title">${item.title}</div>
                <div class="subtitle">${item.subtext}</div>
                <a href=${item.link} class="link">${item.linkTitle}</a>
            </div>

        </div>
    	<hr>
    	</sly>

        <sly  data-sly-test.bg="${!item.bgColor}">
        
                <div class="card">
                    <div class="container" style= "background-color:${bg @ context='styleString'} ">
                        <div class="title">${item.title}</div>
                        <div class="subtitle">${item.subtext}</div>
                		<div class="link">${item.linkTitle}</div>
                    </div>
        
                </div>
                <hr>
                </sly>

    </ul>




