

<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"/>


<sly data-sly-call="${clientlib.css @ categories='aemTraining2.components'}"/>

<div data-sly-resource="${@path='headerPar',resourceType='wcm/foundation/components/parsys'}"></div>

<div data-sly-resource="${@path='contentPar',resourceType='wcm/foundation/components/parsys'}"></div>

<div data-sly-resource="${@path='footerPar',resourceType='wcm/foundation/components/parsys'}"></div>


<!--  
<h1 data-sly-resource="${'title' @ resourceType='/apps/aemTraining2/components/content/title'}"/> </h1>

<sly data-sly-resource="${'header' @ resourceType='/apps/aemTraining2/components/content/header'}"/> 

<div data-sly-resource="${@path='par',resourceType='wcm/foundation/components/parsys'}"></div>

<sly data-sly-resource="${'footer' @ resourceType='/apps/aemTraining2/components/content/footer'}"/> 

-->





