<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<sly data-sly-use.footermulti="com.aemTraining2.core.use.FooterMultiUse"/>

<footer class="footer-distributed">


<ul class="footer-left id=myFooter" data-sly-list="${footermulti.valueMapLinkList}">

<a class = "footer-links" href=${item.urlPath}><h4>${item.urlName}</h4></a>

</ul>

<ul class="footer-right id=myFooter" data-sly-list="${footermulti.valueMapIconList}">
<a href=${item.iconPath} class="footer-links">
    <i class="fa fa-${item.iconName}"></i>
</a>

</ul>

<div class = "footer-left" data-sly-test="${properties.text}">
	<p>${properties.text}</p>
</div>

</footer>
